### Question1
Create a function that takes a list of strings and integers, and filters out the list so that it<br>
returns a list of integers only.<br>
Examples<br>
filter_list([1, 2, 3, &quot;a&quot;, &quot;b&quot;, 4]) ➞ [1, 2, 3, 4]<br>
filter_list([&quot;A&quot;, 0, &quot;Edabit&quot;, 1729, &quot;Python&quot;, &quot;1729&quot;]) ➞ [0, 1729]<br>
filter_list([&quot;Nothing&quot;, &quot;here&quot;]) ➞ []<br>

In [25]:
def filter_list(list1):
    new_list=[]
    for i in list1:
        if type(i)==str:
            continue
        else:
            new_list.append(i)
    return new_list

In [26]:
filter_list([1, 2, 3, "a", "b", 4])

[1, 2, 3, 4]

In [27]:
filter_list(["A", 0, "Edabit", 1729, "Python", "1729"])

[0, 1729]

In [28]:
filter_list(["Nothing", "here"])

[]

### Question2
Given a list of numbers, create a function which returns the list but with each element&#39;s<br>
index in the list added to itself. This means you add 0 to the number at index 0, add 1 to the<br>
number at index 1, etc...<br>
Examples<br>
add_indexes([0, 0, 0, 0, 0]) ➞ [0, 1, 2, 3, 4]<br>
add_indexes([1, 2, 3, 4, 5]) ➞ [1, 3, 5, 7, 9]<br>
add_indexes([5, 4, 3, 2, 1]) ➞ [5, 5, 5, 5, 5]<br>

In [33]:
def add_indexes(l):
    new_list=[]
    for i in range(len(l)):
        new_list.append(l[i]+i)
    return new_list

In [34]:
add_indexes([0, 0, 0, 0, 0])

[0, 1, 2, 3, 4]

In [35]:
add_indexes([1, 2, 3, 4, 5])

[1, 3, 5, 7, 9]

In [36]:
add_indexes([5, 4, 3, 2, 1])

[5, 5, 5, 5, 5]

### Question3
Create a function that takes the height and radius of a cone as arguments and returns the<br>
volume of the cone rounded to the nearest hundredth. See the resources tab for the formula.<br>

Examples<br>
cone_volume(3, 2) ➞ 12.57<br>

cone_volume(15, 6) ➞ 565.49<br>
cone_volume(18, 0) ➞ 0<br>

In [61]:
import math
def cone_volume(h,r):
    #olume =(1/3) * π * r² * h
    return round((1/3)*math.pi*(r**2)*h,2)

In [62]:
cone_volume(3, 2)

12.57

In [63]:
cone_volume(15, 6)

565.49

In [64]:
cone_volume(18, 0)

0.0

### Question4
This Triangular Number Sequence is generated from a pattern of dots that form a triangle.<br>
The first 5 numbers of the sequence, or dots, are:<br>
1, 3, 6, 10, 15<br>
This means that the first triangle has just one dot, the second one has three dots, the third one<br>
has 6 dots and so on.<br>
Write a function that gives the number of dots with its corresponding triangle number of the<br>
sequence.<br>
Examples<br>
triangle(1) ➞ 1<br>
triangle(6) ➞ 21<br>
triangle(215) ➞ 23220

In [72]:
def triangle(n):
    return int(n*(n+1)/2)

In [73]:
print(triangle(1))

1

In [74]:
triangle(6)

21

In [75]:
triangle(215)

23220

### Question5
Create a function that takes a list of numbers between 1 and 10 (excluding one number) and<br>
returns the missing number.<br>
Examples<br>
missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10]) ➞ 5<br>
missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8]) ➞ 10<br>
missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9]) ➞ 7<br>

In [117]:
def missing_num(list1):
    d={}
    l=[1,2,3,4,5,6,7,8,9,10]
    for i in list1:
        d[i]=1
    for i in l:
        if i not in d:
            print(i)

In [113]:
missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10])

5

In [118]:
missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8])

10

In [119]:
missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9])

7