### Question 1
Create a function that takes a number as an argument and returns True or False depending<br>
on whether the number is symmetrical or not. A number is symmetrical when it is the same as<br>
its reverse.<br>
Examples<br>
is_symmetrical(7227) ➞ True<br>
is_symmetrical(12567) ➞ False<br>
is_symmetrical(44444444) ➞ True<br>
is_symmetrical(9939) ➞ False<br>
is_symmetrical(1112111) ➞ True

In [1]:
def is_symmetrical(n):
    if str(n)==str(n)[::-1]:
        return True
    else:
        return False

In [2]:
is_symmetrical(7227)

True

In [3]:
is_symmetrical(12567)

False

In [4]:
is_symmetrical(44444444)

True

In [5]:
is_symmetrical(9939)

False

In [6]:
is_symmetrical(1112111)

True

### Question 2
Given a string of numbers separated by a comma and space, return the product of the<br>
numbers.<br>
Examples<br>
multiply_nums(&quot;2, 3&quot;) ➞ 6<br>
multiply_nums(&quot;1, 2, 3, 4&quot;) ➞ 24<br>
multiply_nums(&quot;54, 75, 453, 0&quot;) ➞ 0<br>
multiply_nums(&quot;10, -2&quot;) ➞ -20

In [9]:
a="2, 3"
a.split(', ')

['2', '3']

In [13]:

def multiply_nums(n):
    mul=1
    for i in map(int,n.split(', ')):
        mul*=i
    return mul

In [14]:
multiply_nums("2, 3")

6

In [15]:
multiply_nums("1, 2, 3, 4")

24

In [18]:
multiply_nums("54, 75, 453, 0")

0

In [19]:
multiply_nums("10, -2")

-20

### Question 3
Create a function that squares every digit of a number.<br>
Examples<br>
square_digits(9119) ➞ 811181<br>
square_digits(2483) ➞ 416649<br>
square_digits(3212) ➞ 9414<br>
Notes<br>
The function receives an integer and must return an integer.

In [63]:
def square_digits(n):
    s=""
    for i in str(n):
        s+=str(int(i)*int(i))
    return int(s)

In [64]:
square_digits(9119)

811181

In [65]:
square_digits(2483)

416649

In [66]:
square_digits(3212)

9414

In [67]:
square_digits(9119)

811181

In [70]:
square_digits(1245)

141625

### Question 4
Create a function that sorts a list and removes all duplicate items from it.<br
Examples<br>
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]<br>
setify([4, 4, 4, 4]) ➞ [4]<br>
setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]<br>
setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [72]:
def setify(l):
    return sorted(list(set(l)))

In [73]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [74]:
setify([4, 4, 4, 4])

[4]

In [75]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [76]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

### Question 5
Create a function that returns the mean of all digits.<br>
Examples<br>
mean(42) ➞ 3<br>
mean(12345) ➞ 3<br>
mean(666) ➞ 6<br>
Notes<br>
 The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in<br>
512 is (5+1+2)/3(number of digits) = 8/3=2).<br>
 The mean will always be an integer.

In [79]:
def mean(n):
    sum=0
    for i in str(n):
        sum+=int(i)
    return int(sum/len(str(n)))

In [80]:
mean(42)

3

In [81]:
mean(12345)

3

In [82]:
mean(666)

6